/* .flexcontainer { */
/* width: 100%;
    height: 500px;
    display: flex; */
/* flex-direction: row; */
/* flex-direction: column; */
/* justify-content: flex-start;     default!!!     */
/* justify-content: flex-end; */
/* justify-content: space-between; spread to full width with same spases between */
/* justify-content: space-around;  same as space-between but with borders around first and last */

/* justify-content: center; everything in the center without margins */
/* justify-content: flex-start;    main direction!!! */

/* align-items: flex-start;       align to the upper border of the div */
/* align-items: flex-end;  aligns items to the lower border of the div */

/* align-items: stretch;  default!!!  secondary direction   aligns div to the biggest */

/* flex-wrap: wrap; */

/* flex-wrap: wrap-reverse; */

/*flex-flow: row wrap;      flex-direction PLUS flex-wrap      */

/* align-content: flex-end;        двигает СТРОКИ!!!!     а не элементы !!!!!    */
/* align-content: space-between; */

/* }

.flex1 {
    background-color: red;
    flex-basis: 20em;       /*     minimum width of an element!!!!!!       */
/* flex: 1; */
/* flex-grow: 1;
    flex-shrink: 1; */

/* width: 200px; */


/* height: 10vw;
    color: white;
    /* font-size: 2vw; */

/* align-self: flex-start;     aligns only this item   */

/* order: 2; */
/* } */


/* .flex2 { */
/* background-color: green; */
/* flex-basis: 20em;           minimum width of an element!!!!!!       */
/* flex: 1; */

/* flex-grow: 2;
    flex-shrink: 2; */

/* width: 300px; */
/* height: 15vw; */
/* color: white; */
/* font-size: 2vw; */

/* order: 1; */
/* } */


/* .flex3 { */
/* background-color: blue; */
/* flex-basis: 20em;           minimum width of an element!!!!!!       */
/* flex: 1; */

/* flex-grow: 3;
    flex-shrink: 3; */

/* width: 200px; */
/* height: 10vw; */
/* color: white; */
/* font-size: 2vw; */

/* order: 0; */


/* }  */

body {
    margin: 0;
}

header {
    width: 100%;
    background-color: orange;
    height: 10vh;
    margin: 0.5% 0.5% 0 0;
    color: white;
    font-size: 2vw;

}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 30vh;
}

.nav {
    flex-grow: 1;
    min-width: 250px;
    margin: 0.5% 0.5% 0.5% 0;    
    background-color: green;
    color: white;
    font-size: 2vw;
    text-align: center;

}

.main {
    flex-grow: 2;
    min-width: 500px;
    margin: 0.5%;

    background-color: yellow;
    color: gray;
    font-size: 2vw;
    text-align: center;


}

.aside {
    flex-grow: 1;
    min-width: 250px;
    margin: 0.5% 0 0.5% 0.5%;    
    background-color: blue;
    color: white;
    font-size: 2vw;
    text-align: center;


}


footer {
    width: 100%;
    background-color: pink;
    height: 10vh;
    color: white;
    font-size: 2vw;
}

 @media screen and (max-width: 1000px) {
    /* .flexcontainer {
        flex-direction: column;
        justify-content: flex-start;
    } */
    .nav, .main, .aside, header {
        margin: 0;
    }
 }